.hero {
  background-image: url("../images/app-design/desktop/hero-big.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero__big-img {
  position: absolute;
  z-index: -1;
  top: 136px;
  left: -200px;
}






/* COLLECTION START */

.collection__first-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-bottom: 32px;
}

.collection__item {
  border-radius: 15px;
  width: 350px;
}

.collection__item img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.collection__content {
  border-radius: 0 0 15px 15px;
  padding: 0 32px 32px 32px;
  background-color: #fdf3f0;
}

.collection__content:active {
  border-radius: 0 0 15px 15px;
  color: var(--white);
  background-color: var(--primary);
}

.collection__content-title {
  color: var(--primary);
  padding-top: 38px;
  margin-bottom: 16px;
}

.collection__content-title:active {
  color: var(--white);
}

.collection__second-wrapper {
  display: flex;
  text-align: center;
  gap: 30px;
  margin-bottom: 160px;
}

/* COLLECTION END */